body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.p {
  font-weight: 500;
  font-size: 36px;
  text-align: left;
  height: 22px;
  width: 500px;
  left: 24px;
  top: 51px;
  margin-bottom: 12px;
}

.tag {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  background: #7159c1;
  height: 18px;
  width: 89px;
  left: 25px;
  top: 103px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.clock {
  display: flex;
  align-items: center;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks_count span {
  padding-right: 6px;
  padding-left: 6px;
  display: flex;
  align-items: flex-end;
}
.tasks_count {
  display: flex;
  justify-content: space-between;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.graphic_container {
  width: 500px;
  height: 488px;
  left: 25px;
  top: 184px;
  padding-top: 111px;

  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.graphic {
  margin: auto;
  width: 226px;
  height: 226px;
  left: 75px;
  top: 295px;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.11);
}

.newTask button {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
