.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.form input {
  padding: 8px 15px;
  margin-top: 1em;
  border-radius: 0;
  border: 1px solid #282c34;
}

.form input[type="submit"] {
  height: 51px;
  width: 323px;
  border-radius: 25.5px;
  background: #28233f;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
}

.form input[type="submit"]:hover {
  background-color: #403074;
  cursor: pointer;
}

.input_container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input_container label {
  font-weight: bold;
  margin-bottom: 0.4em;
  font-size: 25px;
}
