.container {
  align-items: center;
}
.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tasks ul {
  padding: 0;
  margin: 10px 0 0 0;
  border-radius: 5px;
}

.tasks ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tasks ul li span {
  padding: 0.2em;
}

.tasks ul li button,
input[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background: #7159c1;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  margin: 5px 0 0 0;
  text-transform: uppercase;
}

.tasks ul li button:hover {
  background-color: #403074;
  cursor: pointer;
}

.task p {
  color: #fff;
  margin-right: 50px;
}

.task svg {
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  font-weight: bold;
}

.calendar {
  position: absolute;
  z-index: 1;
}
