.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
}

.tasks h2 {
  display: flex;
  justify-content: center;
}

.task {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

.container {
  position: relative;
}

.container ul {
  padding: 0;
  margin: 10px 0 0 0;
  border-radius: 5px;
}

.container ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container ul li span {
  padding: 0.2em;
}

.container ul li button,
input[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background: #7159c1;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  margin: 5px 0 0 0;
  text-transform: uppercase;
}

.container ul li button:hover {
  background-color: #403074;
  cursor: pointer;
}

.task p {
  color: #fff;
  margin-right: 50px;
}

.task svg {
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
}

.task svg:hover {
  filter: blur(0.7px);
}

.link {
  text-decoration: none;
  font-weight: bold;
  text-align: left;
}

.calendar {
  position: absolute;
  left: -72px;
  top: 66px;

  z-index: 1;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
