body {
  margin: 0;
  padding: 0;
  background-color: #28233f;
  color: #fff;
  font-family: "Roboto";
}

button {
  height: 51px;
  width: 323px;
  left: 28px;
  top: 415px;
  border-radius: 25.5px;
  background: #7159c1;
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  border: 0;
}

button:hover {
  background-color: #403074;
  cursor: pointer;
}
