body {
  margin: 0;
  padding: 0;
  background-color: #28233f;
  color: #fff;
  font-family: "Roboto";
}

button,
input[type="submit"] {
  height: 51px;
  width: 323px;
  border-radius: 25.5px;
  background: #7159c1;
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  border: 0;
  margin-bottom: 20px;
  margin-top: 0;
}

button:hover,
input[type="submit"]:hover {
  background-color: #403074;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  margin: 0;
}
